results/old/*
.Rproj.user
.Rhistory
.RData
.Ruserdata
davidbolin-ngme-457a0dc6e198/*
data/old/*
bolin_code/*
code/old/*
images/old/*
writeups/*
old/*
articles/*
*.gz
writeups/one_dim.pdf
*.log
*.bbl
*.aux
*.blg
